<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - Luno</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>


  </head>
  <body>
     
      <div class="container">

          <header>
            <h2><a href="index.ejs"><i class="ion-plane"></i>LUNO</a></h2>
            <nav>
              <ul>
                <li>
                  <a href="explore.ejs" title="Explore">EXPLORE MAPS</a>
                </li>
                <li>
                  <a href="explore.ejs" title="Trending">TRENDING</a>
                </li>
                <li>
                  <a href="#" title="Login">LOGIN</a>
                </li>
                <li>
                  <a class="btn" href="buildMapForm.ejs" title="Register / Log In">BUILD YOUR MAP🗺</a>
                </li>
              </ul>
            </nav>
          </header>
        
          <div class="cover">
            <h1>Discover what's out there.</h1>
            <form  class="flex-form" action="POST">
              <label for="from">
                <i class="ion-location"></i>
              </label>
              <input type="search" placeholder="Welcome back. Enter username here.">
              <input type="submit" value="Login">
            </form>
            <div id="madeby">
            </div>
          </div>
        </div>

        <div class="container">
            <div class="item item1"></div>
            <div class="item item2"></div>
            <div class="item item3"></div>
            <div class="item item4"></div>
            <div class="item item5"></div>
            <div class="item item5"></div>
          </div>
    
    
    
    
    
      </body>
    </html>
