<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - Luno</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/cards.css" type="text/css" />
    

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>


  </head>
  <body>
     
      <header class="masthead clear">
          <div class="centered">
        
            <div class="site-branding">
              <h1 class="site-title">Explore Trending Maps 👇</h1>
              <h2></h2>
            </div>
            <!-- .site-title -->
          </div>
          <!-- .centered -->
        </header>
        <!-- .masthead -->
        
        <main class="main-area">
        
          <div class="centered">
        
            <section class="cards">
        
              <article class="card">
                <a href="#">
                  <figure class="thumbnail">
                  <img src="http://dontai.com/wp/wp-content/uploads/2018/04/google-maps-stc-2018-4-4.png" alt="meow">
                  </figure>
                  <div class="card-content">
                    <h2>Alice Best Bars</h2>
                    <p>Explore trending local spots 🍕.</p>
                  </div>
                  <!-- .card-content -->
                </a>
              </article>
              <!-- .card -->
        
              <article class="card">
                <a href="#">
                  <figure class="thumbnail">
                    <img src="http://dontai.com/wp/wp-content/uploads/2018/04/google-maps-stc-2018-4-4.png" alt="meow">
                  </figure>
                  <div class="card-content">
                    <h2>Coffee Spots</h2>
                    <p>Go on, indulge yourself in local hangouts ☝️.</p>
                  </div>
                  <!-- .card-content -->
                </a>
              </article>
              <!-- .card -->
        
              <article class="card">
                <a href="#">
                  <figure class="thumbnail">
                    <img src="http://dontai.com/wp/wp-content/uploads/2018/04/google-maps-stc-2018-4-4.png" alt="meow">
                  </figure>
                  <div class="card-content">
                    <h2>Map Name 3</h2>
                    <p>Find new places to explore, everyday 🙌.</p>
                  </div>
                  <!-- .card-content -->
                </a>
               
              </article>
              <!-- .card -->
        
              <!-- .card -->
              <button class="button button1">View Feavourites ❤️</button>

            </section>
            <!-- .cards -->
            
          </div>
          <!-- .centered -->

    
          
        </main>
    
    
      </body>
    </html>
