<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - Listty</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>


  </head>
  <body>
     
      <div class="container">

          <header>
            <h2><a href="index.ejs"><i class="ion-plane"></i>LUNO</a></h2>
            <nav>
              <ul>
                <li>
                  <a href="#" title="Hotels">EXPLORE MAPS</a>
                </li>
                <li>
                  <a href="#" title="Flights">TRENDING</a>
                </li>
                <li>
                  <a href="#" title="Tours">LOGIN</a>
                </li>
                <li>
                  <a class="btn" href="#" title="Register / Log In">BUILD YOUR MAP🗺</a>
                </li>
              </ul>
            </nav>
          </header>
        
          <div class="cover">
            <h1>Discover what's out there.</h1>
            <form  class="flex-form">
              <label for="from">
                <i class="ion-location"></i>
              </label>
              <input type="search" placeholder="Where do you want to go?">
              <input type="submit" value="Search">
            </form>
            <div id="madeby">
              <span>
                <a href="https://unsplash.com/@benblenner" target="_blank">
              </span>
            </div>
          </div>
        
        </div>

           <!-- Main timeline -->
           <main>
           <div id="timeline">
             <h3>Absolute Center,
                Within Container.</h3>

          </div>
  
           </main>
        
        
    
    
    
    
    
      </body>
    </html>
