<DOCTYPE html>
<html lang="en">
<head>
  <title>Build A Map</title>
</head>
<header>
  <h1>Build A Map</h1>
</header>
<body>


  </form>

  <form action="/create/"  method="POST" style ="margin:300px;">


    <input id="title" type="text" name="title" placeholder="Title" style="width:500px;height:40px;font-size:30px">

    <input type="submit" value="Create" style="width:300px;height:40px;font-size:30px">

  </form>



</body>
</html>
