<DOCTYPE html>
<html lang="en">
<head>
  <title>Build A Map</title>
</head>
<header>
  <h1>Build A Map</h1>
</header>
<body>


  </form>

  <form action="/urls/<%=shortURL%>/"  method="POST" style ="margin:300px;">


    <input id="LongURL" type="text" name="longURL" placeholder="<%=urls[shortURL]%>" style="width:500px;height:40px;font-size:30px">

    <input type="submit" value="Update" style="width:300px;height:40px;font-size:30px">

  </form>



</body>
</html>
